@page "/"
@using Services
@using System.Timers
@implements IDisposable
@rendermode InteractiveServer
@using Arcadia.Charts.Components.Charts



<PageTitle>Informations</PageTitle>

<h1>Informations</h1>

<ArcadiaGaugeChart Value="@_cpuUsage" Min="0" Max="100" Title="CPU Usage %" Width="200" Height="160" Color="#A1FFA1" StrokeWidth="15"/>

<ArcadiaGaugeChart Value="@_ramUsage" Min="0" Max="@_hardwareInfoService.GetRamCapacity()" Title="RAM Usage Go" Width="200" Height="160" Color="#A1F2FF" StrokeWidth="15"/>

<ArcadiaGaugeChart Value="@_diskUsage" Min="0" Max="@_hardwareInfoService.GetDiskCapacity()" Title="Disk Usage Go" Width="200" Height="160" Color="#D300FF" StrokeWidth="15"/>

@code {
    private HardwareInfoService _hardwareInfoService = new HardwareInfoService();
    private int _cpuUsage = 0;
    private int _ramUsage = 0;
    private int _diskUsage = 0;
}

@functions {
    private Timer _timer = new Timer() { Interval = 1000, AutoReset = true, Enabled = true };
    protected override void OnInitialized()
    {
        _timer.Elapsed += GetHardwareInfo;

    }

    public void GetHardwareInfo(object? sender, ElapsedEventArgs e)
    {
        _ = InvokeAsync(() =>
        {
            _cpuUsage = _hardwareInfoService.GetCpuUsage();
            _ramUsage = _hardwareInfoService.GetRamUsage();

            Console.WriteLine(_ramUsage);
            StateHasChanged();
        });

    }

    public void Dispose()
    {
        _timer.Dispose();
    }

}


